main section{
    display: flex;
    /* flex-direction: ; */
    margin: 4%;
    /* flex-direction: column;
    justify-content: space-between; */
    gap: 8%;
}


main section.about{
    padding: 50px;

}

main section>.about button{
    background-color: orangered;
    color: white;
    font-weight: bold;
    padding: 8px 12px;
    border-style:none;
    border-radius: 8px;
    transition: background-color 0.3s ease;
}

main section> .about button:hover{
    background-color: white; 
    color: orange;
}


main section img {
    border-radius: 8px;
}
